/*
font-family: 'Roboto', sans-serif;
font-family: 'Abel', sans-serif;
*/
body{
    background-color: #538894; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    letter-spacing: .15em; 
    background-image: url(../img/window.jpg); 
    background-size: cover;  
    width: auto; 
}

h1 {
    font-size: 4em; 
    color: #538894; 
    text-align: center;  
    width: 100%; 
    height: 2em; 
    padding-top: 2em;  
}

.today {
    color: white; 
    opacity: .5; 
}

.info {
    margin-top: -2em; 
    font-size: 10em; 
}

.h1 {
    background-color: #55d9fd;
    width: 100%; 
    height: 30em; 
    margin-top: 5em; 
}

.logo img {
    width: 10%; 
    height: 10%; 
    position: fixed; 
    top: 0; 
    margin-bottom: 10em; 
}

.grid-container {
    background-color: white; 
    width: 100%; 
    height: 50em; 
    margin-top: 20em; 
}

.graphic img{
    background-color: white; 
    padding-top: 12em; 
    margin-top: 0;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; 
    height: 70%; 
}

p2 {
    font-family: 'Abel', sans-serif; 
    font-size:2em; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 3em; 
    color: ; 
}

section #link .grid-6 {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 12em; 
}

